.env
.env.*
!.env.example

node_modules/
dist/
.next/
.vercel/
contracts/lib/
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/.github/
contracts/.gitmodules
assets/
contracts/lcov.info
.vercel
.env*.local
