.env
.env.*
!.env.example
.DS_Store

node_modules/
dist/
.next/
.vercel/
contracts/lib/
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/.github/
contracts/.gitmodules
assets/
!public/assets/
!public/assets/**
public/assets/.DS_Store
public/assets/**/.DS_Store
contracts/lcov.info
.vercel
.env*.local
test-results/
