name: ci

on:
  push:
  pull_request:

jobs:
  forge-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Forge tests
        run: forge test -vvv
        working-directory: contracts

  solhint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Solhint
        run: npx solhint "src/**/*.sol"
        working-directory: contracts

  slither:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crytic/slither-action@v0.3.0
        with:
          target: contracts
          slither-config: contracts/slither.config.json
